# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
MGDS_Swift/MGDS_Swift/lib&IJKFW/libbz2.tbd
MGDS_Swift/MGDS_Swift/lib&IJKFW/libcrypto.a
MGDS_Swift/MGDS_Swift/lib&IJKFW/librtmp.a
MGDS_Swift/MGDS_Swift/lib&IJKFW/libssl.a
MGDS_Swift/MGDS_Swift/lib&IJKFW/libz.tbd
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/IJKMediaFramework
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/Info.plist
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/_CodeSignature/CodeDirectory
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/_CodeSignature/CodeRequirements
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/_CodeSignature/CodeResources
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/_CodeSignature/CodeSignature
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/Headers/IJKAVMoviePlayerController.h
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/Headers/IJKFFMonitor.h
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/Headers/IJKFFMoviePlayerController.h
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/Headers/IJKFFOptions.h
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/Headers/IJKKVOController.h
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/Headers/IJKMediaFramework.h
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/Headers/IJKMediaModule.h
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/Headers/IJKMediaPlayback.h
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/Headers/IJKMediaPlayer.h
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/Headers/IJKMPMoviePlayerController.h
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/Headers/IJKNotificationManager.h
MGDS_Swift/MGDS_Swift/lib&IJKFW/IJKMediaFramework.framework/Modules/module.modulemap
